@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:400,600,700");

:root {
  --color-primary: #037de8;
  --color-link-active: #2caef0;
  --color-primary-text: #333;
  --color-secondary-text: #848484;
}

body {
  font-size: 0.75rem;
}
.navbar .container {
  align-items: center;
}

nav {
  margin-top: 2rem;
}

.nav__logo {
  margin-bottom: 1rem;
}

button.navbar-toggler {
  margin-bottom: 1rem;
  border: none;
  background-color: #ddd;
}
#nav__items {
  justify-content: flex-end;
}

.nav__item {
  margin-bottom: 1rem;
}
.nav__item a {
  text-decoration: none;
  color: var(--color-secondary-text);
  padding: 0 1rem;
  font-weight: 600;
}

a.active__nav {
  color: var(--color-link-active);
}

/* Body */
/* Carousel */

.carousel__caption__container {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  display: none;
}

@media screen and (min-width: 768px) {
  .carousel__caption__container {
    display: block;
  }
}

.carousel__caption__jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 1.25rem;
  width: 30%;
  margin: 0 auto;
}

.carousel__caption__jumbotron p {
  font-weight: 600;
  font-size: 1rem;
}

.carousel__caption__button {
  text-decoration: none;
  background-color: #328cca;
  color: white;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.carousel__arrow__button {
  background-color: rgba(0, 0, 0, 0.5);
}

/* featured section */
section {
  margin-top: 3rem;
  text-align: center;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary-text);
}

.section__desc {
  color: var(--color-secondary-text);
}

.featured__cards__container {
  display: flex;
  flex: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

@media screen and (min-width: 768px) {
  .featured__cards__container {
    flex: row;
    justify-content: space-between;
  }
}

.featured__card {
  max-width: 16rem;
  position: relative;
}
.featured__card__display {
  padding: 1.5rem 0;
}

.featured__card__display svg {
  color: white;
  height: 3rem;
  width: 3rem;
}

.trophy__card {
  background-color: #ed5440;
}

.image__card {
  background-color: #d866b2;
}

.monitor__card {
  background-color: #4ac467;
}

.globe__card {
  background-color: #2aaef0;
}
.chevron {
  position: absolute;
  top: 5.75rem;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 0;
  height: 0.125rem;
  width: 16rem;
}
.chevron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #f9f9f9;
  transform: skew(0deg, 10deg);
}
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #f9f9f9;
  transform: skew(0deg, -10deg);
}
.featured__card__caption {
  z-index: 3;
  background-color: #f9f9f9;
  padding: 1rem;
  text-align: left;
  /* position: absolute;
  top: 4.5rem; */
}

.featured__card__title {
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 1.25rem;
}

.featured__card__desc {
  margin-top: 1rem;
  color: var(--color-secondary-text);
}

/* Quote */
section.quote {
  background-color: #efefef;
}

.carousel-inner {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.quote__container {
  text-align: center;
  margin: 0 1rem;
}

.quote__container p {
  font-style: italic;
  font-size: 0.875rem;
}

.quote__sayer {
  font-style: italic;
  font-weight: 600;
}

/* Courses  */
.courses__container {
  margin-top: 1rem;
}

.course__card {
  padding: 1rem;
  text-align: left;
}

.course__card__title {
  font-weight: 600;
  font-size: 1rem;
}

.course__card__desc {
  margin-top: 1rem;
  color: var(--color-secondary-text);
}

/* scroll up button */
#scrollup {
  position: fixed;
  right: 1rem;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  z-index: 99;
  outline: none;
  display: none;
}

#scrollup img {
  width: 1rem;
  height: 1rem;
}
/* footer */

footer {
  margin-top: 2rem;
  background-color: var(--color-primary);
  padding-top: 2rem;
  color: #fff;
  padding-bottom: 1rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__content {
    flex-direction: row;
  }
}

.footer__block {
  margin-top: 2rem;
}

.footer__block__title {
  font-weight: 600;
}

.division__name {
  font-weight: 600;
}

.footer__officeloc {
  margin-top: 0.75rem;
}

.footer__contact {
  margin-top: 0.75rem;
}

.footer__link {
  margin-bottom: 0.2rem;
}

.footer__link__text {
  text-decoration: none;
  color: #fff;
}

.footer__copyright {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.socmed__logo {
  width: 0.75rem;
  height: auto;
  margin: 0 0.5rem;
}

@media screen and (min-width: 560px) {
  .footer__copyright {
    flex-direction: row;
  }
}
